<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alps.alna172991.reserve_gui">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RestaurantSignup"></activity>
        <activity
            android:name=".RestaurantConfig"
            android:label="@string/title_activity_restaurant_config"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantWaitTime"
            android:label="@string/title_activity_restaurant_wait_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantReservationList"
            android:label="@string/title_activity_restaurant_wait_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:orientation="vertical">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alps.alna172991.reserve_gui.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:orientation="vertical">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alps.alna172991.reserve_gui.MainActivity" />
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:orientation="vertical" />
        <activity
            android:name=".MainActivity"
            android:orientation="vertical">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>